@{
    ViewBag.Title = ViewBag.Title ?? "NbCloud";
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <title>@ViewBag.Title</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- CSS Page Style -->
    @RenderSection("styles", required: false)
</head>
<body>
    <h2>From @this.VirtualPath</h2>
    <hr />
    <div class="container valign__middle">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
